@using System.Data.Entity.Migrations.Model
@model FinTechWebApp.Models.Hackathon.Loan

@{
    ViewBag.Title = "Request Loan";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<div class="table1">
    @using (Html.BeginForm("RequestLoan", "UserHome", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {role = "form"}))
    {
        @Html.Hidden("UserId")
        @Html.Hidden("Username")
        @Html.Hidden("LoanGuid")
        @Html.Hidden("Status")
        @Html.Hidden("DisbursementAmount")
        @Html.Hidden("ExpirationDate")
        @Html.Hidden("OutstandingBalance")
        <br>
        <br>
        <div class="form-group">
            @Html.LabelFor(m => m.LoanType)

            @Html.DropDownListFor(m => m.LoanType, new List<SelectListItem>
            {
                new SelectListItem {Value = "0", Text = "Empty..."},
                new SelectListItem {Value = "1", Text = "Car Loan"}, new SelectListItem {Value = "2", Text = "Personal Loan"},
                new SelectListItem {Value = "3", Text = "Morgage Loan"}
            }, new {@class = "drop-menu"})
        </div>
        <br>
        <br>
        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description, new {required = "required"})
        </div>
        <br>
        <br>
        <div class="form-group">
            @Html.LabelFor(m => m.LendAmount)
            @Html.TextBoxFor(m => m.LendAmount, new {required = "required"})
        </div>
        <br>
        <br>
        <p>
            <input type="submit" value="Request Loan"/>
        </p>
    }
</div>

