@model FinTechWebApp.Models.Hackathon.Loan

@{
    ViewBag.Title = "Show Loan";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="table1">
    <form name="reqform" action=.php method="post">
        <br>
        <br>
        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description, new { @readonly = "readonly" })
        </div>

        <br>
        <br>
        <div class="form-group">
            @Html.LabelFor(m => m.LendAmount)
            @Html.TextBoxFor(m => m.LendAmount, new { @readonly = "readonly" })
        </div>
        <br>
        <br>
        <div class="form-group">
            @Html.LabelFor(m => m.DisbursementAmount)
            @Html.TextBoxFor(m => m.DisbursementAmount, new { @readonly = "readonly" })
        </div>
        <br>
        <br>
        <div class="form-group">
            @Html.LabelFor(m => m.OutstandingBalance)
            @Html.TextBoxFor(m => m.OutstandingBalance, new { @readonly = "readonly" })
        </div>
        <br>
        <br>
        <p>
            @Html.ActionLink("Back", "Index", new { username = "elena" })
        </p>
    </form>
</div>

